<?page title="Hi-Q Item Browser" contentType="text/html;charset=UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk>
<style>
	.z-grid {
		border: 1px;
		border-radius: 8px;
	}
	.z-label {
		font-size: 12px;
		font-family: verdana, tahoma, arial, sans-serif;
	}
	.s-caption {
		font-weight: bold;
	}
	.s-number {
		float: right;
	}
	.s-heading1 {
		display: block;
		font-size: 24px;
		font-weight: bold;
		padding: 10px 10px 15px 10px;
		vertical-align: middle;
	}
	.s-heading2 {
		display: block;
		font-size: 14px;
		font-weight: bold;
		padding: 10px 5px 0px 5px;
		vertical-align: middle;
	}
	.s-mainpanel {
		padding: 0px 0px 20px 10px;
	}
</style>
<div height="100%" apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init(SearchVM)">
	<borderlayout height="100%">
	<west width="400px" splittable="true" collapsible="true" border="none">
		<vlayout vflex="1">
			<hlayout>
			<image src="/img/logo.gif"/>
			<label sclass="s-heading1" value="ค้นหาผลิตภัณฑ์"/>
			</hlayout>
			<!-- 
			<hlayout>
				<checkbox label="FG" checked="@bind(vm.includeFG)"/>
				<checkbox label="WIP" checked="@bind(vm.includeWIP)"/>
				<checkbox label="R/M" checked="@bind(vm.includeRM)"/>
			</hlayout>
			 -->
			<textbox hflex="1" onChanging="@command('search')"/>
			<listbox vflex="1" sizedByContent="true" span="1" model="@load(vm.matchedItems)"
					 emptyMessage="(Search string must be at least 2 characters long.)"
					 selectedItem="@bind(vm.selectedItem)">
				<listhead sizable="true">
					<listheader label="No."/>
					<listheader label="Description"/>
				</listhead>
				<template name="model" var="item">
					<listitem>
						<listcell label="@load(item.no_)"/>
						<listcell label="@load(item.description)"/>
					</listitem>
				</template>
			</listbox>
		</vlayout>
	</west>
	<center autoscroll="true">
		<vlayout visible="@load(not empty vm.selectedItem)">
			<label sclass="s-heading1" value="@load(vm.selectedItem.no_.concat(' ').concat(vm.selectedItem.description))"/>
			<vlayout sclass="s-mainpanel" width="550px">
			<grid>
			<columns>
				<column hflex="min"/><column hflex="1"/><column hflex="min"/><column hflex="1"/><column hflex="min"/>
			</columns>
			<rows>
				<row>
					<label sclass="s-caption" value="Brand"/>
					<label value="@load(vm.selectedItem.brand)"/>
					<label sclass="s-caption" value="ต้นทุนมาตรฐาน"/>
			 		<label sclass="s-number" value="@load(empty vm.selectedItem ? '' : c:formatNumber(vm.selectedItem.standardCost, '#,##0.000'))"/>
					<label value="@load(' บาท/'.concat(vm.selectedItem.baseUnit))"/>
				</row>
				<row>
					<label sclass="s-caption" value="@load('1 '.concat(vm.selectedItem.salesUnit).concat(' ='))"/>
		 			<label value="@load(empty vm.selectedItem ? '' : c:formatNumber(vm.selectedItem.salesToBase, '#,##0').concat(' ').concat(vm.selectedItem.baseUnit))"/>	
					<label sclass="s-caption" value="ต้นทุนผันแปร"/>
					<label sclass="s-number" value="@load(empty vm.selectedItem ? '' : c:formatNumber(vm.selectedItem.standardVC, '#,##0.000'))"/>
					<label value="@load(' บาท/'.concat(vm.selectedItem.baseUnit))"/>
				</row>
			</rows>
			</grid>
			<label sclass="s-heading2" value="สต็อกบรรจุภัณฑ์"/>
			<grid>
			<columns>
				<column hflex="min"/><column hflex="1"/><column hflex="min"/><column hflex="min"/>
			</columns>
			<rows children="@load(vm.selectedItem.packagings)">
				<template name="children" var="bl">
					<row>
						<label value="@load(bl.itemNo_)"/>
						<label value="@load(bl.description)"/>
			 			<label sclass="s-number" value="@load(vm.getInventoryLevel(bl.itemNo_)) @converter('formatedNumber', format='#,##0')"/>
						<label value="@load(vm.getBaseUnit(bl.itemNo_))"/>
					</row>
				</template>
			</rows>
			</grid>
			<label sclass="s-heading2" value="@load(empty vm.selectedItem.inventory ? 'ไม่มีสต็อกผลิตภัณฑ์ ':'สต็อกผลิตภัณฑ์')"/>
			<grid visible="@load(not empty vm.selectedItem.inventory)">
			<columns>
				<column hflex="min"/><column hflex="min"/><column hflex="1"/><column hflex="min"/>
			</columns>
			<rows children="@load(vm.selectedItem.inventory)">
				<template name="children" var="inv">
					<row>
						<label value="@load(inv.locationCode)"/>
						<label value="@load(inv.locationName)"/>
						<label sclass="s-number" value="@load(empty vm.selectedItem ? '' : c:formatNumber(inv.quantity/vm.selectedItem.salesToBase, '#,##0'))"/>
						<label value="@load(vm.selectedItem.salesUnit)"/>
					</row>
				</template>
			</rows>
			</grid>
			</vlayout>
		</vlayout>
	</center>
	</borderlayout>
</div>
</zk>