<?page title="Item Search" contentType="text/html;charset=UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<zk xmlns:html="http://www.w3.org/1999/xhtml">

<style dynamic="true">
	.s-searchFrame {
		background: #DBDBDB;
		border: 1px;
		padding: 15px 15px 20px 20px;
		margins: 0px 0px 0px 0px;
	}
	.z-textbox {
		font-family: verdana, tahoma, arial, sans-serif;
		font-size: 14px;
	}
	.z-toolbarbutton-cnt {
		font-family: verdana, tahoma, arial, sans-serif;
		font-size: 14px;
		padding: 2px 12px 2px 12px;
	}
/*
	.z-toolbarbutton-over .z-toolbarbutton-cnt {
		background: #DBDBDB;
	}
*/
}
</style>

<vlayout apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init(SearchVM)">
	<hlayout sclass="s-searchFrame" valign="middle">
		<image src="/img/logo.gif"/>
		<div width="15px"/>
		<textbox height="20px" width="500px" onChanging="@command('search')" value="@init(vm.searchString)"/>
	</hlayout>
	<vlayout children="@load(vm.matchedItems)">
		<template name="children" var="item">
			<toolbarbutton label="@load(item.no_.concat(' ').concat(item.description))"
				href="@load('item.zul?itemNo_='.concat(item.encodedNo_))"/>
		</template>
	</vlayout>
</vlayout>
</zk>